:root {
  --white: #FAF9F9;

  --very-dark-blue: #011524;
  --dark-blue: #012A4A;
  --blue: #2A6F97;
  --light-blue: #A9D6E5;

  --very-dark-red: #270102;
  --dark-red: #660708;
  --red: #e42646;
  --light-red: #fca1b0;

  --very-dark-green: #091b14;
  --dark-green: #1B4332;
  --green: #34815f;
  --light-green: #D8F3DC;

  --very-dark-violet: #271b47;
  --dark-violet: #6247AA;
  --violet: #B185DB;
  --light-violet: #DEC9E9;

  --light-background: var(--white);
  --dark-background: var(--dark-blue);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-background);
  --color-text: var(--dark-blue);

  --button-background: var(--blue);
  --button-text: var(--white);

  --button-light-background: var(--light-blue);
  --button-light-text: var(--dark-blue);

  --button-correct-background: var(--green);
  --button-correct-text: var(--white);

  --button-incorrect-background: var(--red);
  --button-incorrect-text: var(--white);

  --slider-background: var(--dark-background);

  --burger-fill: var(--color-text);
  --menu-background: var(--dark-background);
  --menu-text: var(--light-blue);

  --burger-fill: var(--dark-background);
  --burger-fill-open: var(--white);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-background);
    --color-text: var(--white);
    --slider-background: var(--very-dark-blue);
    --burger-fill: var(--white);
    --burger-fill-open: var(--dark-background);
    --menu-background: var(--light-blue);
    --menu-text: var(--dark-background);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
